@model Starset.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        
                    <button type="submit" class="btn btn-default @p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><img  id="@p.AuthenticationType" src=@Url.Content("~/ExternalLoginIcon/"+ p.AuthenticationType+ ".png") /></button>
                    }
                </p>
            </div>
        }
    }
}

<style>
    .Facebook {
    }

    #Facebook{

    }
    img{
        width: 5rem;
        height: 5rem;
        padding: 0;
        margin:0;
    }

</style>

@section scripts{
    <script>
    $(document).ready(function () {
        var facebook = $("#Facebook");
        


    }


    </script>
}
